body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  margin: 0 auto;
  background-color: #e7e7e7ad;
  color: #000000;
}

body.modo-escuro {
  background-color: #212121;
  color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 7vw;
  background-image: linear-gradient(to bottom, #8d8d8dad, #f1f1f1c9);
}

header .logo,
header .imagem-botao {
  width: 40px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
header .logo,
header .imagem-botao:nth-child(2) {
  box-shadow: -6px -6px 12px #bebebe, 6px 6px 12px #ffffff;
}

.modo-escuro header .logo,
header .imagem-botao:nth-child(2) {
  box-shadow: -1px -1px 12px #999999, 1px 1px 12px #999999;
}

header #botao-alterar-tema {
  background: none;
  border: none;
}

header .logo:hover,
header .imagem-botao:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.modo-escuro header {
  background-image: linear-gradient(to bottom, #8d8d8dad, #212121);
}

main {
  padding: 25px;
}

main .listagem-pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

main .cartao-pokemon {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
  border-radius: 15px;
  background: linear-gradient(315deg, #d1eaffad, #ffffffad);
  box-shadow: -5px -5px 20px #bebebe, 5px 5px 20px #bebebe;
  transition: transform 0.2s ease-in-out, background 0.5s;
}

main .cartao-pokemon:hover {
  background: linear-gradient(315deg, #e3f2ffad, #ffffff);
  transform: scale(1.05);
}
.modo-escuro .cartao-pokemon:hover {
  background: linear-gradient(315deg, #000000ad, #444444ad);
  box-shadow: -5px -5px 20px #505050, 5px 5px 20px #3b3b3b;
}
.modo-escuro .cartao-pokemon {
  background: linear-gradient(315deg, #252525ad, #707070ad);
  box-shadow: -5px -5px 20px #505050, 5px 5px 20px #3b3b3b;
}

main .cartao-pokemon .informacoes {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
}

main .cartao-pokemon .informacoes span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 17px;
}

main .cartao-pokemon .gif {
  width: 80px;
  height: 80px;
}

main .cartao-pokemon .tipos {
  display: flex;
  gap: 15px;
}

main .cartao-pokemon .tipo {
  padding: 8px;
  border-radius: 10px;
}

.grama {
  background-color: #7ac74c;
}

.veneno {
  background-color: #df67ddfb;
}

.fogo {
  background-color: #ee8130;
}

.agua {
  background-color: #6390f0;
}

.inseto {
  background-color: #a6b91a;
}

main .descricao {
  max-height: 80px;
  overflow-y: scroll;
  font-size: 14px;
  padding-right: 10px;
}
